<ion-app>
  <!-- Menu Lateral -->
  <ion-menu side="start" menuId="main-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu PokéDex</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/tabs/home" routerDirection="root">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Início</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/tabs/search" routerDirection="root">
            <ion-icon name="search" slot="start"></ion-icon>
            <ion-label>Buscar</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/tabs/favorites" routerDirection="root">
            <ion-icon name="heart" slot="start"></ion-icon>
            <ion-label>Favoritos</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/tabs/types" routerDirection="root">
            <ion-icon name="grid" slot="start"></ion-icon>
            <ion-label>Tipos</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/tabs/stats" routerDirection="root">
            <ion-icon name="bar-chart" slot="start"></ion-icon>
            <ion-label>Estatísticas</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-item-divider>
          <ion-label>Configurações</ion-label>
        </ion-item-divider>
        
        <ion-item>
          <ion-icon name="settings" slot="start"></ion-icon>
          <ion-label>Configurações</ion-label>
        </ion-item>
        
        <ion-item>
          <ion-icon name="information-circle" slot="start"></ion-icon>
          <ion-label>Sobre</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Conteúdo Principal -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
